[alias]
	st = status
	br = branch
	co = checkout
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	logv = log --graph --all --oneline
	lf = ls-files
[user]
	email = phunc20@gmail.com
	name = phunc20
[pull]
	rebase = false
[diff]
	wsErrorHighlight = all
	submodule = log
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
